################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/Hahn.ApplicatonProcess.May2020/.vs/Hahn.ApplicatonProcess.May2020
/API/Hahn.ApplicatonProcess.May2020/src/Hahn.ApplicatonProcess.May2020.Data/bin/Debug
/API/Hahn.ApplicatonProcess.May2020/src/Hahn.ApplicatonProcess.May2020.Data/obj
/API/Hahn.ApplicatonProcess.May2020/src/Hahn.ApplicatonProcess.May2020.Domain/bin/Debug/netstandard2.1
/API/Hahn.ApplicatonProcess.May2020/src/Hahn.ApplicatonProcess.May2020.Domain/obj
/API/Hahn.ApplicatonProcess.May2020/src/Hahn.ApplicatonProcess.May2020.Web/bin/Debug/netcoreapp3.1
/API/Hahn.ApplicatonProcess.May2020/src/Hahn.ApplicatonProcess.May2020.Web/obj
/API/Hahn.ApplicatonProcess.May2020/tests/Hahn.ApplicatonProcess.May2020.Data.Tests/bin/Debug/netcoreapp3.1
/API/Hahn.ApplicatonProcess.May2020/tests/Hahn.ApplicatonProcess.May2020.Data.Tests/obj
/API/Hahn.ApplicatonProcess.May2020/tests/Hahn.ApplicatonProcess.May2020.Web.Tests/bin/Debug/netcoreapp3.1
/API/Hahn.ApplicatonProcess.May2020/tests/Hahn.ApplicatonProcess.May2020.Web.Tests/obj
/API/Hahn.ApplicatonProcess.May2020/tests/Hahn.ApplicatonProcess.May2020.Data.Tests/TestResults
/API/Hahn.ApplicatonProcess.May2020/tests/Hahn.ApplicatonProcess.May2020.Web.Tests/TestResults
/API/Hahn.ApplicatonProcess.May2020/TestResults/90063e62-74d8-4c39-8622-2e7731ca4eb8/Azharuddin.Mohammed_JLT02003L 2020-05-26 19_34_42.coverage
/API/Hahn.ApplicatonProcess.May2020/src/Hahn.ApplicatonProcess.May2020.Web/log
/API/Hahn.ApplicatonProcess.May2020/src/Hahn.ApplicatonProcess.May2020.Web/logs
